
package $packageName.$class.classPackage ;
#foreach( $imports in $class.imports)
$imports ;
#end

#foreach( $classLevelAnnotation in $class.classLevelAnnotation)
$classLevelAnnotation
#end
public class $class.className {

#foreach( $autowireClasses in $class.autowireClasses)
@Autowire
$autowireClasses ;
#end

  @PostMapping(path = "/$class.repositoryClassProtoType.entityBeanClassPrototype.className", consumes = "application/json")
    public ResponseEntity<Object> $class.entityBeanClassPrototype.className (@RequestBody ${class.repositoryClassProtoType.entityBeanClassPrototype.className} member)
    {
        try
        {
            ${class.repositoryClassProtoType.classInstanceName}.save(member);

            return ResponseEntity.ok()
                    .body("Success");
        } catch (Exception e)
        {

            return ResponseEntity.badRequest()
                    .body("No Data as of now.");
        }
    }
}